.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
}

.next-arrow {
  right: 0px;
  cursor: pointer;

}

.prev-arrow {
  cursor: pointer;
  z-index: 999;
}
.slick-arrow:hover {
  color: #ff5d1d;
}

.container {
  position: relative;
}

.textContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stickyBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

.image {
  width: 100%;
  object-fit: cover;
}

.top-icon svg {
  padding: 10px;
}


.sidebar-container {
  height: 100%;
  overflow-y: auto;
}
.cart-img {
  text-align: center;
}
.cart-img img {
  object-fit: cover;
  width: 80px;
}
.cart-img li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.input-group-btn button {
  background-color: black;
  color: white;
  padding: 4px;
  font-size: 14px;
  font-weight: lighter;
}
