.headerContainer{
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
}
.headerTransparent{
  background-color:#E1E1E0;

}
.imagee{
  width: 150px;
  margin-top: 1rem;
}
.headerBule{
  background-color: var(--first-blue-color);
}
.whatever {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
.navbar {
  display: flex;
  align-items:center;
  justify-content: space-between;
  width: 90%;
  height: 90px;
  z-index: 1000;
  background-color:transparent;

}
.button{
  background-color: var(--button-background-color-red);
  width: 5rem;
  height: 2rem;
  border: none;
  outline: none;
  border-radius: 4px;
  color: white !important;
  cursor: pointer;
  font-size: 14px;  
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 1.5rem;
  position: relative;
}

.menu li:nth-child(5) {
  border-right: 1px solid white;
  padding-right: 0.75rem;
  margin-right: -0.75rem;
}
.menuItem{
  position: relative;
  /* color: white; */
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 20px;
  /* Transition the color property for smooth effect */
}
.closeMenu {
  position: absolute;
  top: 35px;
  right: 35px;
  cursor: pointer;
  color: var(--button-background-color-red);
}
.white{
color:#0E4D4F;
}

.blue{
  color : var(  --first-blue-color)
}

.menu a:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color:  #0E4D4F;
  /* Color of the underline */
  transition: width 0.3s ease;
}

.menu a:hover:after,
.menu a:focus:after {
  width: 100%;
  background-color: #0E4D4F;
  /* Change underline color to red when hovered */
}

.mobile_btn {
  display: none;
}
.menu.active {
  left: 0;
}

.mobile_btn_blue{
 display: none;
}
.cartIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

.cartIconBlue{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--first-blue-color);
  cursor: pointer;
}

.count {
  position: relative;
}
.count::after {
  content: attr(count);
  position: absolute;
  width: 20px;
  height: 20px;
  color: white;
  background-color: red;
  top: -10px;
  left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

.menuItem.activeNavItem:after {
  width: 100%;
  background-color:  #0E4D4F;
  /* Change underline color to red when it's the active page */
}


.menu .shopIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width: 992px) {
  .menu {
    gap: 1rem;
  }
  .menu a {
    font-size: 18px;
  }
  .menu li:nth-child(5) {
    border-right: 1px solid white;
    padding-right: 0.5rem;
    margin-right: -0.5rem;
  }
  .whatever {
    gap: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .mobile_btn {
    display: flex;
    color: white;
    cursor: pointer;
    right: 2.5rem;
    top: 50%;
    z-index: 10;
    margin-left: 1rem;
  }
  .mobile_btn_blue{
    color:var(--first-blue-color);
    display: flex;
    cursor: pointer;
    right: 2.5rem;
    top: 50%;
    z-index: 10;
    margin-left: 1rem;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: -100%;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8); /* White background with 0.8 opacity */
    backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
    z-index: 10;
    transition: left 1s;
    overflow: hidden; /* Ensures the blur effect doesn't overflow */
}

.menu a {
  color:#0E4D4F;

}
.whatever {
  flex-direction: row-reverse;
  gap: 0;
}
/* Rest of your menu styles here */

  
  .cartIcon {
    margin-left: 1rem;
  }
.cartIconBlue {
  margin-left: 1rem;
}
  .active {
    left: 0;
  }

  .navbar Link {
    font-size: 2rem;
  }
  .menu li:nth-child(5) {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
  }
} 

ul {
  list-style-type: none;
}

li {
  color: var(--main-text-color);
  text-decoration: none;
}