.button {
    width: fit-content;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: #70908B;
    border: 1px solid transparent;
    border-radius: 7px;
    margin-top: 2rem;
    height: 11%;
    font-size: 16px;
    font-weight: 400px;
    padding: 10px 36px;
    transition: all .4s ease;
}
.button:hover{
    border: 1px solid #70908B;
    background-color: transparent;


}
@media screen and (min-width: 280px) and (max-width: 450px)  {
    .absolute {
      margin-left: 0;
      margin-top: 70px;
      height: 672px;
    }
  }
  
 a:hover{
    color: #70908B  !important;
 }