.heading {
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 4rem;
    color: black;
}

.category { 
    .box-container {
        display: flex; /* Set the container to flex */
        flex-wrap: wrap; /* Allow wrapping of boxes */
        justify-content: center; /* Optional: Center the boxes horizontally */
    }

    .box {
        width: 50% !important;
        text-align: center;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 1rem; /* Add spacing between boxes */
        height: 30rem; /* Set a fixed height for the boxes */
    }

    img {
        width: 17rem;
        height: 15rem;
        border-radius: 50%;
        margin-bottom: 1rem;
    }
    .btn {
        width: fit-content;
        text-align: center;
        color: white;
        text-decoration: none;
        background-color: #70908B;
        border: 1px solid transparent;
        border-radius: 2px;
        margin-top: 1rem; /* Adjust margin-top for proper spacing */
        font-size: 16px;
        font-weight: 400px;
        padding: 10px 36px;
        transition: all .4s ease;
    }
    .btn:hover {
        color: #70908B ;
        border: 1px solid #70908B;
        background-color: transparent;
    }
}
.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
  }
  
  .next-arrow {
    right: 0px;
    cursor: pointer;
  
  }
  
  .prev-arrow {
    cursor: pointer;
    z-index: 999;
  }
  .slick-arrow:hover {
    color: #0E4D4F;
  }