.containerHero {
    margin: 0;
    position: relative;
}

.backgroundImage {
        /* position: absolute; */
width: 100%;
/* top: -370px; */
height: 100vh;
background-image: url(/src/assets/ArtisanRow.jpeg);
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
display: flex;
object-fit: cover;
justify-content: flex-start;
align-items: center;
}
.Title{
    color: white;
    font-size: 2.5vh;
    font-weight: 500;
    letter-spacing: 3px;


}


.content {
    font-size: 2vw;
    top: 600px;
    display: flex;
    flex-direction: column;
    margin-left: 66rem;
    width: 42%;




}

.title {
    font-weight: 600;
    text-transform: uppercase;
    color: #FFFFFF;
    height: 75%;
    width: 100%;
    letter-spacing: 3px;

}

.spann {
    font-weight: 800px;
    text-transform: uppercase;
    color: #0E4D4F;
}

.button {
    width: fit-content;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: #C62507;
    border: 1px solid transparent;
    border-radius: 7px;
    margin-top: 2rem;
    height: 11%;
    font-size: 16px;
    font-weight: 400px;
    padding: 10px 36px;
    transition: all .4s ease;
}
.button:hover{
    color: #F83739 ;
    border: 1px solid #F3494A;
    background-color: transparent;

}
@media (max-width: 930px) {
    .backgroundImage{
      height: 695px;
    }
    }
    /* @media (max-width: 784px) {
        .backgroundImage {
    
      height : 832px;
        
    }
    } */
@media (max-width: 420px) {
    .backgroundImage{
      height: 726px;

    }
    .button {
min-width: 196px;      
        font-size: 17px;
  
    }
    }


@media (max-width:375px) {
.button{
    min-width: 170px;
    height: 3rem; 
font-size: 15px;   }
.title{
    font-size: 25px;
}
.Title {
    font-size: 2.4vh;
   
}
}
@media (max-width:280px) {
.button{
    min-width: 176px;
height: 3rem;
font-size: 16px;
margin-left: -2.1rem;
}
.Title{
    color: white;
    font-size: 3.5vh;
    font-weight: 500;
    letter-spacing: 0px;
    /* gap: 0; */
    line-height: 30px;
}

.content{
    font-size: 1.5vh;

}
    .backgroundImage{
      height: 896px;

    }
}
/* @media (min-width:281px) {
.backgroundImage{
height: 938px;
}
} */




@media (max-width:390px) {
    .title{
        font-weight: 800;
        text-transform: uppercase;
        color: #FFFFFF;
        height: 75%;
        width: 100%;
        letter-spacing: 3px;
        font-size: 28px;
        line-height: 33px;
        margin-bottom: 1rem;
    }
   .content{
    width: 88%;
    margin-left: 66rem;
   }
   .Title{
    font-size: 2vh;
   }
 
}
