.description{
    font-size: 20px;
    margin: 30px 0;
}
.title{
    font-size: 30px;
}
.Aboutcontainer{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

  .viewMoreButton {
    margin: 15px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1E5DBC;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #1E5DBC;
    transition: 0.2s;
}

.viewMoreButton:hover {
    color: #1E5DBC;
    border: 1px solid #1E5DBC;
    background-color: transparent;

}
@media (max-width:390px) {
    .Aboutcontainer{
        display: block;
        margin-bottom: 13px;
    }
    .title{
margin-bottom: 15px;    }
.description{
margin-bottom: 13px;}

}
@media (max-width:280px) {
    .Aboutcontainer{
        display: block;
        margin-bottom: 13px;
    }
    .title{
margin-bottom: 10px; 
font-size: 20px;   }
.description{
margin-bottom: 13px;}

}
@media (max-width:712px) {
    .Aboutcontainer{
 display: block;
}
.NewContainer {
    height: 75vh;
    }
}

/* Rachwan */
/* Tabet */
@media (max-width: 1211px) {
    .Aboutcontainer{
        display: block;
        align-items: center;
        width: 100%;
    }
    .description{
        font-size: 18px;
    }
    .title{
        font-size: 25px;
    }
}

/*
767
768

967
968

1900
1200
*/