.containerHero {
  position: relative;
  margin: 0;
  background: linear-gradient(180deg ,#E1E1E0 -15.35%,rgba(63,0,1,0));
  display: flex;
}

.container {
  padding: 0 2.4rem;

}

.main {
  padding-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; /* Align items to the start on smaller screens */
}

.detail {
  width: 50%; /* Adjust the width based on your preference */
  text-align: center; /* Center align on smaller screens */
}
.title {
  font-weight: 600;
  text-transform: uppercase;
  color: #FFFFFF;
  height: 75%;
  width: 100%;
  letter-spacing: 7px;
  text-shadow: 3px 4px 6px  #00000055;

}

.spann {
  font-weight: 800px;
  text-transform: uppercase;
  color: #0E4D4F;
}
.discount {
  color: #0E4D4F;
  font-size: 1.5rem;
  font-weight: 300;
  word-spacing: 8px;
  width: 80%;
  margin: 0 auto; /* Center align on smaller screens */
}

h1 {
  color: #0E4D4F;
  font-size: 3rem;
  font-weight: 600;
}

.genralBtn {
  margin-top: 1.5rem;
  background-color: black;
  border: 2px solid var(--primary-color);
  font-family: 'Outfit', sans-serif;
  padding: 1rem 1.5rem;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 10px;
  color: red;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.genralBtn:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.images {
  width: 50%; /* Adjust the width based on your preference */
  text-align: center; /* Center align on smaller screens */
}

.imgW {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .detail,
  .images {
    width: 100%; /* Full width on smaller screens */
  }
}
.herosection_main__9iro2 {
  padding-top: 10rem;
  display: flex;
  justify-content: center; /* Center align the content horizontally */
  align-items: center; /* Center align the content vertically */
  flex-direction: column; /* Stack elements vertically */
}

.herosection_detail__bLKF3 {
  width: 80%; /* Adjust the width based on your preference */
  text-align: center; /* Center align the text */
}

.herosection_images__zCvL0 {
  width: 80%; /* Adjust the width based on your preference */
  text-align: center; /* Center align the image */
}




