/*----------------------------venue section-----------------*/

.venue .venue-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 84px;
    margin:50px 50px
}

.venue .venue-list .venue-box {
    flex: 1 1 50rem;
    margin: 1rem;
    position: relative;
    border-radius: .6rem;
    overflow: hidden;
    height: 20rem;
}

.venue .venue-list .venue-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.venue .venue-list .venue-box .venue-info {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    background: rgba(46, 39, 40, 0.5);
    transform: scale(1.3);
    opacity: 0;
    transition: 1s ease;
}

.venue .venue-list .venue-box:hover .venue-info {
    transform: scale(1);
    opacity: 1;
}

.venue .venue-list .venue-box .venue-info h2 {
    letter-spacing: .1rem;
    font-size: 2rem;
}

.venue .venue-list .venue-box .venue-info p {
    letter-spacing: .1rem;
    font-size: 1rem;
}

.venue .venue-list .venue-box .venue-info .btn {
    width: fit-content;
    text-align: center;
    color: white !important;
    text-decoration: none !important;
    background-color: #70908B;
    border: 1px solid transparent;
    border-radius: 7px;
    /* margin-top: 2rem; */
    font-size: 16px;
    font-weight: 400px;
    padding: 10px 36px;
    transition: all .4s ease;
}


